.body {
    font-family: Arial, sans-serif;
}

#saying {
    font-size: 2.5rem;
}

#navigation {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

#motto {
    color: rgb(93, 92, 92);
    letter-spacing: 4px;
}